$primaryBlack:  rgb(51,51,51);
$secondaryBlack: rgb(66,66,66);
$primaryBlue: rgb(51,122,183);
$primaryWhite: rgb(239,239,239);
$primaryYellow: rgb(255,217,0);

@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Cabin);

@function makelongshadow($n, $color) {
  $val: 0px 0px 0px $color;
    @for $i from 1 through $n {
      $val: #{$val}, #{$i * -1}px #{$i}px 0px #{$color};
  }
  @return $val;
}

@mixin longshadow($n, $color){
  text-shadow: makelongshadow($n, $color);
};

@mixin centerGoodness {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  -webkit-align-items: center; /* safari */
  display: -webkit-flex; /* safari */
  -webkit-justify-content: space-around; /* safari*/
}

body {
  background-color: $primaryBlack;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
html {
  height: 100%;
  width: 100%;
}
h1 {
  font-size: 7em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.5em;
}
h4{
  font-size: 1.25em;
}

.aboutBody {
  display:block;
  color: $primaryWhite;
  border-top: 2px solid $primaryYellow;
  border-bottom: 2px solid $primaryYellow;
  text-align: left;
  padding-left: 1em;
  padding-top: 1em;
  font-family: 'Cabin', sans-serif;

}

.aboutHead, .projectsHead {
  font-family: 'Lobster', sans-serif;
  color: $primaryYellow;
  text-align: center;
}
.brand {
  letter-spacing:.075em;
  font-size: 2em;
  margin: 0 1em 0 1em;
  position: relative;
  padding: .75em;
  align-items: center;
}
.btn:hover {
  background-color: $primaryYellow;
}
.fa-border {
  border: solid 2px $primaryYellow;
  padding: .2em;;
  margin-bottom: -.1em;
}

.fa-quote-left, .keywords {
  color: $primaryYellow;
}

.navLeft {
    text-align: center;
    font-family: 'Lobster', cursive;
    transform: skew(10deg);
    letter-spacing:.075em;
    margin: 0 auto;
    position: absolute;
    left: 15%;
    top: 15%;
    max-width: 20%;
  }

.photoTop {
  background-image: url("./assets/BlankSpaceNEW.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.projects {
  width: 100%;
  overflow: hidden;
  font-size: 2em;
  padding: .75em;
}
.projectBody {
  width: 100%;
  font-family: 'Cabin', sans-serif;
  color: $primaryWhite;
  border-top: 2px solid $primaryYellow;
  border-bottom: 2px solid $primaryYellow;
  font-size: .75em;
  letter-spacing: .1em;
  padding: .5em;
}
.projectContainer {
  width: 100%;
  display: flex;
}
.projectDetails {
  width: 50%;
  margin: 1em;
}
.projectHead {
  width: 100%;
  font-family: 'Lobster', cursive;
  color: $primaryYellow;
  @include centerGoodness;
}
.projectImage{
  @include centerGoodness;
  width: 50%;
  margin: 1em 1em 0 1em;
  opacity: .7;
}
.projectImage:hover{
  opacity: 1;
}
.projectImg{
  width: 100%;
}
.shadow-yellow {
  @include longshadow(5, $primaryYellow);
}
.socialContainer {
  @include centerGoodness;
  margin: 1em;
}

//for phones not tablets
@media (max-width: 800px) {
  .aboutBody{
    padding-left: 0;
  }
  .brand{
    margin: 0;
  }
  .navLeft{
  text-align: center;
  margin: 0 auto;
  position: relative;
  max-width: 100%;
  font-size: .75em;
  overflow:hidden;
  left: 0%;
  top: 15%;
  }
  .photoTop {
    background-image: url("./assets/BlankSpace.jpg");
  }
  .projectContainer{
    display: block;
    width: 100%;
    align-items:center;
  }
  .projectDetails{
    width: 100%;
    margin: 0;
  }
  .projectsHead{
    padding-bottom: 1em;
  }
  .projectImage{
    width: 100%;
    margin: 0;
    opacity: 1;
  }
}
